In [2]:
import pandas as pd
import nltk
from nltk.corpus import stopwords

In [59]:
train_data = pd.read_excel(r"E:\Edrive\Sudhanshu\Datatrained Projects\News_category_NLP\Data_News_category_NLP\News_category_Train.xlsx")

In [60]:
test_data = pd.read_excel(r"E:\Edrive\Sudhanshu\Datatrained Projects\News_category_NLP\Data_News_category_NLP\News_category_Test.xlsx")

In [61]:
train_data.head()

                                               STORY  SECTION
0  But the most painful was the huge reversal in ...        3
1  How formidable is the opposition alliance amon...        0
2  Most Asian currencies were trading lower today...        3
3  If you want to answer any question, click on ‘...        1
4  In global markets, gold prices edged up today ...        3

In [62]:
test_data.head()

                                               STORY
0  2019 will see gadgets like gaming smartphones ...
1  It has also unleashed a wave of changes in the...
2  It can be confusing to pick the right smartpho...
3  The mobile application is integrated with a da...
4  We have rounded up some of the gadgets that sh...

In [6]:
#First two Stories from dataset
for news in train_data.STORY[:2]:
    print(news)

But the most painful was the huge reversal in fee income, unheard of among private sector lenders. Essentially, it means that Yes Bank took it for granted that fees on structured loan deals will be paid and accounted for upfront on its books. As borrowers turned defaulters, the fees tied to these loan deals fell off the cracks. Gill has now vowed to shift to a safer accounting practice of amortizing fee income rather than booking these upfront.


Gill’s move to mend past ways means that there will be no nasty surprises in the future. This is good news considering that investors love a clean image and loathe uncertainties.


But there is no gain without pain and the promise of a strong and stable balance sheet comes with some sacrifices as well. Investors will have to give up the hopes of phenomenal growth, a promise made by Kapoor.
How formidable is the opposition alliance among Congress, Jharkhand Mukti Morcha (JMM) and Jharkhand Vikas Morcha (Prajatantrik)?

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7628 entries, 0 to 7627
Data columns (total 2 columns):
STORY      7628 non-null object
SECTION    7628 non-null int64
dtypes: int64(1), object(1)
memory usage: 119.3+ KB

In [63]:
train_data.shape

(7628, 2)

In [64]:
test_data.shape

(2748, 1)

In [9]:
train_data['SECTION'].value_counts()

1    2772
2    1924
0    1686
3    1246
Name: SECTION, dtype: int64

In [82]:
train_data.drop_duplicates(inplace = True)

In [12]:
import string
punctuation = string.punctuation

In [13]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
nltk.download()

In [14]:
stopword = stopwords.words('english')

In [15]:
stopword

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [16]:
def clean(text):
    text= text.lower()
    text = "".join(x for x in text if x not in punctuation)
    
    words = text.split()
    words= [w for w in words if w not in stopword]
    
    text = " ".join(words)
    return text
clean("this is a sample text")

'sample text'

In [84]:
train_data["cleaned"] = train_data["STORY"].apply(clean)

In [85]:
train_data[["STORY","cleaned"]]

,STORY,cleaned
0,But the most painful was the huge reversal in ...,painful huge reversal fee income unheard among...
1,How formidable is the opposition alliance amon...,formidable opposition alliance among congress ...
2,Most Asian currencies were trading lower today...,asian currencies trading lower today south kor...
3,"If you want to answer any question, click on ‘...",want answer question click ‘answer’ clicking a...
4,"In global markets, gold prices edged up today ...",global markets gold prices edged today disappo...
5,BEIJING: Chinese tech giant Huawei has announc...,beijing chinese tech giant huawei announced pl...
6,Mumbai: India Inc's external commercial borrow...,mumbai india incs external commercial borrowin...
7,"On Wednesday, Federal Reserve Chairman Jerome ...",wednesday federal reserve chairman jerome powe...
8,What more can you give to the audience? I have...,give audience already done yeh hai aashiqui py...
9,"com, Arbaaz Khan spoke about getting back to D...",com arbaaz khan spoke getting back dabangg sal...
10,“One would think that their development and te...,“one would think development testing process w...
11,"So far this year, the rupee has gained 0.7%, w...",far year rupee gained 07 foreign investors bou...
12,"Xiaomi, however, sees the presence of Jio in r...",xiaomi however sees presence jio rural markets...
13,"The ad reads ""No bells & whistles. No Bezel. N...",ad reads bells whistles bezel notch app lag bl...
14,"On Tuesday, Powell said a healthy US economy h...",tuesday powell said healthy us economy faced “...
15,This feature will help make the display more r...,feature help make display responsive inturn si...
16,"TikTok, which is very popular among children, ...",tiktok popular among children facing criticism...
17,The company will hive off its ratings business...,company hive ratings business whollyowned subs...
18,"He chooses to hide his CP from colleagues, mov...",chooses hide cp colleagues move mother’s house...
19,"That’s right, an opera house. It simply goes t...",that’s right opera house simply goes show appl...
20,Facebook said eligible creators would be able ...,facebook said eligible creators would able mak...
21,"Starring Varun Dhawan, Alia Bhatt, Sonakshi Si...",starring varun dhawan alia bhatt sonakshi sinh...
22,GKN Securities which was barred over misuse of...,gkn securities barred misuse socalled dark fib...
23,"Fintech startup Zeta, co-founded by Bhavin Tur...",fintech startup zeta cofounded bhavin turakhia...
24,This story has been published from a wire agen...,story published wire agency feed without modif...
25,Globally established companies such as Stratas...,globally established companies stratasys optom...
26,The statements in which Yeddyurappa says that ...,statements yeddyurappa says air strikes would ...
27,"As NDA seeks re-election, agriculture will for...",nda seeks reelection agriculture form importan...
28,Yeddyurappa said the IAF air strikes would ben...,yeddyurappa said iaf air strikes would benefit...
29,"”With two releases this year so far, Milan Tal...",”with two releases year far milan talkies raw ...
...,...,...
7598,“TDP as a party and ideology have gotten sidel...,“tdp party ideology gotten sidelined especiall...
7599,"But so far, whenever we’ve reviewed Kindles, t...",far whenever we’ve reviewed kindles paperwhite...
7600,"During the day, the markets saw high volatilit...",day markets saw high volatility following prim...
7601,"Today, Gmail allows 15GB free storage. Users c...",today gmail allows 15gb free storage users rec...
7602,Aparajita Sarangi took voluntary retirement wh...,aparajita sarangi took voluntary retirement se...
7603,Investors are awaiting economic growth data an...,investors awaiting economic growth data expiry...
7604,"With advice from online survivalists, she move...",advice online survivalists moves unpopulated a...
7605,"All this time, the developers have been disgui...",time developers disguising app pretend carrier...
7606,Lok Sabha elections 2019: Fifth phase of votin...,lok sabha elections 2019 fifth phase voting be...
7607,"The watchdog passed five separate orders, toge...",watchdog passed five separate orders together ...
7608,"In a Twitter post last week, OnePlus confirmed...",twitter post last week oneplus confirmed prese...
7609,An iOS-only email client named 'Spark' will be...,iosonly email client named spark launched andr...
7610,"That said, the question really is why you shou...",said question really spend ₹10000 portable mus...
7611,And I didn’t want to do that kind of movie bec...,didn’t want kind movie felt done similar kinds...
7612,His 1999 film All About My Mother received Bes...,1999 film mother received best foreign languag...
7613,While Mohan Babu is not considered to be a pol...,mohan babu considered political heavyweight kn...
7614,"The S&P 500 opened higher by 1.26 points, or 0...",sp 500 opened higher 126 points 004 281972 nas...
7615,"However, some reports suggest that there would...",however reports suggest would another smartpho...
7616,"Mumbai: Indian stocks rose, with key indices e...",mumbai indian stocks rose key indices ending r...
7617,"Sure, the others are slightly faster, have sli...",sure others slightly faster slightly sharper s...
7618,"With up to 14.7 million pixels, one billion co...",147 million pixels one billion colours 500 nit...
7619,A BJD supporter in Puri. Congress leaders as w...,bjd supporter puri congress leaders well peopl...
7620,Bollywood celebrities took to social media to ...,bollywood celebrities took social media expres...
7621,"However, as of now, there is no confirmation a...",however confirmation developers games would ch...
7622,"In terms of optics, the back of the Redmi Note...",terms optics back redmi note 7 boasts 48mp5mp ...
7623,"Karnataka has been a Congress bastion, but it ...",karnataka congress bastion also gave bjp first...
7624,"The film, which also features Janhvi Kapoor, w...",film also features janhvi kapoor revolve aroun...
7625,The database has been created after bringing t...,database created bringing together criminal re...
7626,"The state, which has had an uneasy relationshi...",state uneasy relationship mainland since days ...
7627,"Virus stars Kunchacko Boban, Tovino Thomas, In...",virus stars kunchacko boban tovino thomas indr...

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [86]:
#Creating a bag-of-words dictionary of words from the data
cv = CountVectorizer().fit(train_data['cleaned'])

In [87]:
bow = cv.transform(train_data['cleaned'])

In [88]:
print(bow.shape)

(7551, 38628)

In [90]:
from sklearn.feature_extraction.text import TfidfTransformer
tf = TfidfTransformer().fit(bow)

In [91]:
tf_clean = tf.transform(bow)

In [92]:
tf_clean.shape

(7551, 38628)

In [93]:
test_data['cleaned'] = test_data['STORY'].apply(clean)

In [94]:
test_data.head()

,STORY,cleaned
0,2019 will see gadgets like gaming smartphones ...,2019 see gadgets like gaming smartphones weara...
1,It has also unleashed a wave of changes in the...,also unleashed wave changes mcu make sure futu...
2,It can be confusing to pick the right smartpho...,confusing pick right smartphone segregated top...
3,The mobile application is integrated with a da...,mobile application integrated dashboard confir...
4,We have rounded up some of the gadgets that sh...,rounded gadgets showed 2018 left indelible mar...

In [79]:
#Creating a Multinomial Naive Bayes Classifier
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [95]:
# creates a ML model based on parameters
def create_model(X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    model = MultinomialNB()
    model = model.fit(X_train, y_train)
    return model, X_test, y_test

In [97]:
#Fitting the training data to the classifier
model_, X_test, y_test = create_model(tf_clean, train_data.SECTION)

In [98]:
from sklearn.metrics import accuracy_score

# check accuracy
accuracy_score(y_test, model_.predict(X_test))

0.9384513567174056

In [ ]:
from sklearn.pipeline import make_pipeline

In [114]:
pipe = make_pipeline(CountVectorizer(),TfidfTransformer(),MultinomialNB())

In [116]:
pipe.fit(train_data['cleaned'], train_data['SECTION'])

Pipeline(memory=None,
     steps=[('countvectorizer', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
  ...alse, use_idf=True)), ('multinomialnb', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [117]:
test_pred = pipe.predict(test_data['cleaned'])

In [118]:
test_pred

array([1, 2, 1, ..., 1, 0, 1], dtype=int64)