In [4]:
#There are four sections. The Sections are labelled as follows :

Politics: 0
Technology: 1
Entertainment: 2
Business: 3

In [5]:
import pandas as pd
import nltk
from nltk.corpus import stopwords

In [6]:
train_data = pd.read_excel(r"E:\Edrive\Sudhanshu\Datatrained Projects\News_category_NLP\Data_News_category_NLP\News_category_Train.xlsx")

In [7]:
test_data = pd.read_excel(r"E:\Edrive\Sudhanshu\Datatrained Projects\News_category_NLP\Data_News_category_NLP\News_category_Test.xlsx")

In [8]:
train_data.head()

                                               STORY  SECTION
0  But the most painful was the huge reversal in ...        3
1  How formidable is the opposition alliance amon...        0
2  Most Asian currencies were trading lower today...        3
3  If you want to answer any question, click on ‘...        1
4  In global markets, gold prices edged up today ...        3

In [9]:
test_data.head()

                                               STORY
0  2019 will see gadgets like gaming smartphones ...
1  It has also unleashed a wave of changes in the...
2  It can be confusing to pick the right smartpho...
3  The mobile application is integrated with a da...
4  We have rounded up some of the gadgets that sh...

In [10]:
#First two Stories from dataset
for news in train_data.STORY[:2]:
    print(news)

But the most painful was the huge reversal in fee income, unheard of among private sector lenders. Essentially, it means that Yes Bank took it for granted that fees on structured loan deals will be paid and accounted for upfront on its books. As borrowers turned defaulters, the fees tied to these loan deals fell off the cracks. Gill has now vowed to shift to a safer accounting practice of amortizing fee income rather than booking these upfront.


Gill’s move to mend past ways means that there will be no nasty surprises in the future. This is good news considering that investors love a clean image and loathe uncertainties.


But there is no gain without pain and the promise of a strong and stable balance sheet comes with some sacrifices as well. Investors will have to give up the hopes of phenomenal growth, a promise made by Kapoor.
How formidable is the opposition alliance among Congress, Jharkhand Mukti Morcha (JMM) and Jharkhand Vikas Morcha (Prajatantrik)?

In [11]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7628 entries, 0 to 7627
Data columns (total 2 columns):
STORY      7628 non-null object
SECTION    7628 non-null int64
dtypes: int64(1), object(1)
memory usage: 119.3+ KB

In [12]:
train_data.shape

(7628, 2)

In [13]:
test_data.shape

(2748, 1)

In [14]:
train_data['SECTION'].value_counts()

1    2772
2    1924
0    1686
3    1246
Name: SECTION, dtype: int64

In [15]:
train_data.drop_duplicates(inplace = True)

In [16]:
import string
punctuation = string.punctuation

In [17]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
nltk.download()

In [18]:
stopword = stopwords.words('english')

In [19]:
stopword

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [20]:
def clean(text):
    text= text.lower()
    text = "".join(x for x in text if x not in punctuation)

# To remove stopwords
    words = text.split()
    words= [w for w in words if w not in stopword]
    
    text = " ".join(words)
    return text
clean("this is a sample text")

'sample text'

In [21]:
train_data["cleaned"] = train_data["STORY"].apply(clean)

In [22]:
train_data.head()

,STORY,SECTION,cleaned
0,But the most painful was the huge reversal in ...,3,painful huge reversal fee income unheard among...
1,How formidable is the opposition alliance amon...,0,formidable opposition alliance among congress ...
2,Most Asian currencies were trading lower today...,3,asian currencies trading lower today south kor...
3,"If you want to answer any question, click on ‘...",1,want answer question click ‘answer’ clicking a...
4,"In global markets, gold prices edged up today ...",3,global markets gold prices edged today disappo...

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
#Creating a bag-of-words dictionary of words from the data
cv = CountVectorizer().fit(train_data['cleaned'])

In [25]:
bow = cv.transform(train_data['cleaned'])

In [26]:
print(bow.shape)

(7551, 38628)

In [27]:
#Transforming the bag of words model to TF-IDF vectors

In [28]:
from sklearn.feature_extraction.text import TfidfTransformer
tf = TfidfTransformer().fit(bow)

In [29]:
tf_clean = tf.transform(bow)

In [30]:
tf_clean.shape

(7551, 38628)

In [31]:
test_data['cleaned'] = test_data['STORY'].apply(clean)

In [32]:
test_data.head()

,STORY,cleaned
0,2019 will see gadgets like gaming smartphones ...,2019 see gadgets like gaming smartphones weara...
1,It has also unleashed a wave of changes in the...,also unleashed wave changes mcu make sure futu...
2,It can be confusing to pick the right smartpho...,confusing pick right smartphone segregated top...
3,The mobile application is integrated with a da...,mobile application integrated dashboard confir...
4,We have rounded up some of the gadgets that sh...,rounded gadgets showed 2018 left indelible mar...

In [33]:
X = tf_clean

In [34]:
y = train_data["SECTION"]

In [60]:
#Prediction Using multiple Algorithms with CV

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [36]:
outcome = []
model_names = []
models = [('MNB', MultinomialNB()), 
          ('LogReg', LogisticRegression()), 
          ('SVM', SVC()), 
          ('DT', DecisionTreeClassifier()),
          ('KNN', KNeighborsClassifier()),
          ('RF', RandomForestClassifier())]

In [37]:
for model_name, model in models:
    k_fold_validation = model_selection.KFold(n_splits=10, random_state=42)
    results = model_selection.cross_val_score(model, X, y, cv=k_fold_validation, scoring='accuracy')
    outcome.append(results)
    model_names.append(model_name)
    output_message = "%s| Mean=%f STD=%f" % (model_name, results.mean(), results.std())
    print(output_message)

MNB| Mean=0.945836 STD=0.009350
LogReg| Mean=0.969275 STD=0.003128
SVM| Mean=0.361672 STD=0.013578
DT| Mean=0.866904 STD=0.011770
KNN| Mean=0.953517 STD=0.007133
RF| Mean=0.921864 STD=0.010436

In [61]:
#Prediction using XG Boost

In [57]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)

In [48]:
XGB.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='multi:softprob', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [49]:
XGB_pred = XGB.predict(X_test)

C:\Users\pc\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [59]:
accuracy_score(y_test, XGB_pred)

0.9165931156222419

In [62]:
from sklearn.pipeline import make_pipeline

In [63]:
pipe = make_pipeline(CountVectorizer(),TfidfTransformer(),KNeighborsClassifier())

In [64]:
pipe.fit(train_data['cleaned'], train_data['SECTION'])

Pipeline(memory=None,
     steps=[('countvectorizer', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
  ...owski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'))])

In [66]:
test_pred = pipe.predict(test_data['cleaned'])

In [67]:
test_pred

array([1, 2, 1, ..., 1, 0, 1], dtype=int64)

In [85]:
# Predicting a sentence

In [68]:
t ='2019 will see gadgets like gaming smartphones'
t = [t]
pred = pipe.predict(t)

In [69]:
pred

array([1], dtype=int64)